@charset "UTF-8";

body {
	text-align: center;
}

h2 {
	
	text-decoration: underline;
}

table {
	width: 900px;
	height: 200px;
	margin: 0 auto;
	border-collapse: collapse;
}

thead {
	background-color: #e6e6e6;
	border-top: 2px solid red;
	font-weight: bold;
	height: 100px;
}